<h1>出品商品一覧</h1>

<ul>
<% @items.each do |item| %>
  <li><a href="/items/<%= item.id %>"><%= item.name %></a></li>
<% end %>
</ul>

<%# ERBのコメント %>
<!--
<% @items.each do |item| %>
  <p><small><%= item.description %></small></p>
<% end %>

<% @items.each do |item| %>
  <h3><%= item.created_at %></h3>
<% end %>


-->
